CREATE TABLE {{.Name | snakeCase}}s (
    id INT PRIMARY KEY AUTO_INCREMENT,
    {{range $colName, $col := .Columns}}
    {{$colName | snakeCase}} {{toSQLType $col.Type}}{{if not $col.AllowNull}} NOT NULL{{end}},
    {{end}}
    created TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB;

{{range .Operations.Gets}}
# Unique indexes as they serve Get operations returning single entity
{{- $column := index $.Columns . }}
CREATE UNIQUE INDEX idx_{{. | snakeCase}} ON {{$.Name | snakeCase}}s ({{. | snakeCase}});
{{end}}
