{{define "create"}}
{{- $column := index .Root.Columns .ColumnName }}
{{- $entityStructName := pascalCase .Root.Name }}
{{- $entityTableName := snakeCase .Root.Name }}
{{- $entityArgumentName := camelCase .Root.Name }}

func (d *{{$entityArgumentName}}Repository) Create(ctx context.Context, entity *{{$entityStructName}}) (*{{$entityStructName}}, error) {
    if d.configProvider.BlockedWrites("{{$entityTableName}}") {
        return nil, ErrOperationBlocked
    }

	if entity.ID > 0 {
		return nil, fmt.Errorf("{{$entityArgumentName}}Repository.Create failed as ID > 0")
	}

	d.telemetryProvider.IncDALOperation("{{$entityTableName}}", "create")

	_, err := d.dbBreaker.Execute(func() (interface{}, error) {
		return d.create(ctx, entity)
	})

	if err != nil {
		return nil, err
	}

	d.setCached(entity)

	// All lists cache should be flushed.
	d.FlushListCache()

	return entity, err
}

func (d *{{$entityArgumentName}}Repository) create(ctx context.Context, entity *{{$entityStructName}}) (*{{$entityStructName}}, error) {
	const operation = "create"
	start := time.Now()

	now := time.Now().Truncate(time.Second)
	entity.Created = now
	entity.Updated = now
	
	// Auto-generate UID fields if they are not provided
    {{- range $colName, $col := .Root.Columns }}
    {{- if eq $col.Type "uid" }}
    if entity.{{ $colName | pascalCase }} == "" {
        entity.{{ $colName | pascalCase }} = GenerateUID("{{ $col.Prefix }}")
    }
    {{- end }}
    {{- end }}

	query := `
		INSERT INTO {{$entityTableName}}s ({{- template "comma_separated_columns" .Root.Columns}}created,updated)
		VALUES (
			{{- range $index, $colName := keys .Root.Columns -}}?,{{- end }}?,?)
	`

    db, dbErr := d.dbProvider.GetDatabase("{{$entityArgumentName}}", true);
    if dbErr != nil {
		d.telemetryProvider.IncDBError("{{$entityTableName}}", operation)		
        return nil, dbErr
    }

	result, err := db.ExecContext(ctx, query,
		{{- goFuncCallParameters "entity" .Root.Columns }},
		entity.Created, entity.Updated)

	if err != nil {
		d.telemetryProvider.IncDBError("{{$entityTableName}}", operation)
		return nil, fmt.Errorf("failed to insert {{$entityStructName}}: %w", err)
	}

	id, err := result.LastInsertId()
	if err != nil {
		d.telemetryProvider.IncDBError("{{$entityTableName}}", operation)
		return nil, fmt.Errorf("failed to get last insert ID: %w", err)
	}

	entity.ID = id	
	d.telemetryProvider.IncDBRequest("{{$entityTableName}}", operation)	
	d.telemetryProvider.ObserveDBLatency("{{$entityTableName}}", operation, time.Since(start).Seconds())	
	return entity, nil
}
{{end}}

{{define "comma_separated_columns"}}
	{{- $total := len . -}}
	{{- $index := 0 -}}
	{{- range $colName, $col := . -}}
		{{$colName | snakeCase}},
	{{- end}}
{{end}}
