{{define "invalidate_cache"}}
{{- $entityStructName := pascalCase .Root.Name }}
{{- $entityTableName := snakeCase .Root.Name }}
{{- $entityArgumentName := camelCase .Root.Name }}

func (d *{{$entityArgumentName}}Repository) InvalidateCache(entity *{{$entityStructName}}) {
    cacheKey := d.getCacheKey(entity.ID)
	d.cache.Delete(cacheKey)

	// Invalidate cache entry across instances
	d.cacheProvider.InvalidateCache("{{$entityTableName}}", cacheKey)
}

func (d *{{$entityArgumentName}}Repository) FlushListCache() {
    {{- if eq .Root.Caching.ListInvalidation "flush"}}
    d.listCache.Flush()
    d.countCache.Flush()

    // Invalidate cache entry across instances
    d.cacheProvider.FlushListCache("{{$entityTableName}}")
    {{- end}}
}

// FlushAllCache clears both list/count caches AND single-item caches locally, 
// and broadcasts the flush to other instances.
func (d *{{$entityArgumentName}}Repository) FlushAllCache() {
	d.cache.Flush()
    {{- if eq .Root.Caching.ListInvalidation "flush"}}
	d.listCache.Flush()
	d.countCache.Flush()

	// Invalidate cache entries across instances
	d.cacheProvider.FlushListCache("{{$entityTableName}}")
    {{- end}}
	d.cacheProvider.FlushItemCache("{{$entityTableName}}")
}

// Handles cache_flush_item. Just clears the single items cache locally.
func (d *{{$entityArgumentName}}Repository) onCacheFlushItem() {
	d.cache.Flush()
}

// Handles cache invalidations. Just remove cached entry by key
func (d *{{$entityArgumentName}}Repository) onCacheInvalidated(key string) {
    d.cache.Delete(key)
}

// Handles cache_flush_list. Just clears all lists cache.
func (d *{{$entityArgumentName}}Repository) onCacheFlushList() {
    {{- if eq .Root.Caching.ListInvalidation "flush"}}
    d.listCache.Flush()
    d.countCache.Flush()
    {{- end }}
}

{{end}}
