{{define "store"}}
{{- $entityStructName := pascalCase .Root.Name }}
{{- $entityTableName := snakeCase .Root.Name }}
{{- $entityArgumentName := camelCase .Root.Name }}

func (d *{{$entityStructName}}DAL) Store(ctx context.Context, entity *{{$entityStructName}}) (*{{$entityStructName}}, error) {
    if d.configProvider.BlockedWrites("{{$entityTableName}}") {
        return nil, ErrOperationBlocked
    }

	const operation = "store"
	dalOperationsTotalCounter.WithLabelValues("{{$entityTableName}}", operation).Inc()

	var result *{{$entityStructName}}
	var err error

	if entity.ID > 0 {
		// Update existing entity
		err = d.Update(ctx, entity)
		result = entity // Return the same entity after update
	} else {
		// Create new entity
		result, err = d.Create(ctx, entity)
	}

	// Handle errors
	if err != nil {
		return nil, err
	}

	return result, nil
}

{{end}}
